.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 82vh;
  padding-left: 50px;
  padding-right: 50px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("https://images.unsplash.com/photo-1653501183272-091c8b887b59?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY1OTAwNDA3Mg&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  max-width: 350px;
  height: 590px;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s;
  border: 1;
  margin-bottom: 30px;
  border: 2px solid black;
  border-radius: 0.7rem;
  width: 100%;
}

.title {
  margin-top: 30px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  overflow: hidden;
}

.nameSearch {
  display: flex;
  width: 100%;
}

.form-outline {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.input-group-append {
  padding-left: 20px;
}

.searchInput::placeholder {
  color: black;
}

.form-control {
  border: 1.5px solid black;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  color: #f6be00;
}

.form-control:focus {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  border: 2px solid black;
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 703px;
}

.form_custom {
  height: 40px;
  max-width: 200px;
  border-radius: 6px;
  border: 1.5px solid black;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  color: black;
}

.form_custom:focus {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  border: 2px solid black;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.spanMsg {
  text-align: start;
  color: #f6be00;
}
