.card-body {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  border-radius: 0.7rem;
  min-height: 200px;
}

.card-img-top {
  height: 15rem;
  object-fit: cover;
}

.btn {
  background-color: #5b5b5b;
  color: #f6be00;

  border: 1.8px solid black;
}

.btn:hover,
.btn:focus {
  background-color: rgba(246, 190, 0, 1);
  color: black;
}

.map_mainPage {
  min-height: 60%;
  min-width: 100%;
}

.leaflet-container {
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}
