.pagination {
  border: 1.5px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  padding: 10px;
  list-style: none;
  display: flex;
  margin-bottom: 4rem;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  gap: 5px;
}

.pagination .page_num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 50%;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.pagination .page-num:hover {
  background-color: lightslategray;
  color: #fff;
}

.pagination .active {
  background-color: #f6be00;
  border-radius: 20%;
}
