section {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("https://images.unsplash.com/photo-1653501183272-091c8b887b59?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY1OTAwNDA3Mg&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mapContainer {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 80.4vh;
  min-height: 650px;
}

.box-title {
  display: flex;
  padding-top: 10px;
  font-size: 22px;
  padding-left: 0;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.secondContainer {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  /* backdrop-filter: blur(10px); */
}

/* .box-title {
  backdrop-filter: blur(10px);
} */

.map {
  padding: 0;
  min-height: 45%;
  min-width: 420px;
  border: 1px solid black;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.info {
  min-width: 350px;
}

.infoWrapper {
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

@media only screen and (max-width: 1200px) {
  .info p {
    font-size: 20px;
  }
}
