@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");

.Header {
  background-color: #5b5b5b;
  color: #f6f6f6;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 30px;
}

.Header h2 {
  font-family: "Vollkorn", serif;
  color: #f6be00;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 40px;
  font-weight: 300;
}
